  <form id="add-card-form" action="/combos/<%= combo._id %>/cards" method="POST">
    <label for="name-input">Card Input:</label>
    <input type="text" name="name" id="name-input">
    <button class="button-56" role="button">Add Card</button>
  </form>