  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <a href="/combos" id="nav-el">
      <!-- COMBOS -->
      <i class="fa-solid fa-wand-sparkles fa-2xl" style="color: #1a1a1a;"></i>
    </a>

    <% if (user) { %>
    <a href="/combos/new" class="right" id="nav-el">
      <!-- + -->
      <i class="fa-solid fa-plus fa-2xl" style="color: #1a1a1a;"></i>
    </a>
    <% } %>

    <% if (user) { %>
      <a href="/profiles/index" class="right" id="nav-el">
        <!-- PROFILES -->
        <i class="fa-solid fa-hat-wizard fa-2xl" style="color: #1a1a1a;"></i>
      </a>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
        data-prompt_parent_id="g_id_onload"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>

  <div class="spacer"></div>

  
