<%- include('./partials/html-head') %>

<%- include('./partials/nav') %>

<main>
  <div class="homepage">
    <i class="fa-solid fa-wand-sparkles fa-2xl" style="color: #1a1a1a;"></i>
    <i class="fa-solid fa-plus fa-2xl" style="color: #1a1a1a;"></i>
    <i class="fa-solid fa-hat-wizard fa-2xl" style="color: #1a1a1a;"></i>
  </div>
</main>

<%- include('./partials/footer') %>
