<%- include('./partials/html-head') %>

<%- include('./partials/nav') %>

<main>
  <div class="homepage">
    <h1 class="homepage-title">Magic Combos</h1>
    <div class="hompage-details">

      <div class="homepage-els">
        <i class="fa-solid fa-wand-sparkles fa-2xl" style="color: #fea04d;"></i>
        <h5 class="homepage-text">
          COMBO INDEX: Here you can explore all of the magic combos that users have posted.
        </h5>
      </div>
      
      <div class="homepage-els">
        <i class="fa-solid fa-plus fa-2xl" style="color: #fea04d;"></i>
        <h5 class="homepage-text">
          NEW COMBOS: Your combo creation journey starts here. Give your creation a name and a description and then go find it at the top of the combo index to add cards!
        </h5>
      </div>
      
      <div class="homepage-els">
        <i class="fa-solid fa-hat-wizard fa-2xl" style="color: #fea04d;"></i>
        <h5 class="homepage-text">
          PROFILES: Here you can see the other combo wizards on this sight. Go there to see all the Combos they have made!
        </h5>
      </div>
      
      <div class="homepage-els">
        <i class="fa-solid fa-dungeon fa-2xl" style="color: #fea04d;"></i>
        <h5 class="homepage-text">
          LOGOUT: When your time here is done feel free to take you leave. Thank you for using my app, I hope your time was pleasant and that you will return one day.
        </h5>
      </div>
    </div>
  </div>
</main>

<%- include('./partials/footer') %>
