/* html * {
  border: 1px solid red;
} */

body {
  /* margin: 0; */
  background-color: #402E32;
  color: #f6f6f6;
  font-family: system-ui;
}

nav {
  height: 80px;
  background-color: #FEA04D;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i {
  padding: 25px;
}

.index-list a{ 
  color: #f6f6f6;
}

.combo-name {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
}

.card img{
  max-height: 310px;
  max-width: 80vw;
  border: 3px solid white;
  
}

.card-list {
  /* background-color: #ffffff; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.combo-body {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
  align-items: flex-end;  
}

.combo-details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

a {
  color: #e3e3e3;
  text-decoration: none;
}

.buttons {
  display: flex;
  flex-direction: column;
    align-items: flex-end;
}

.left {
  margin: 10px;
  max-width: 50%;
}