/* html * {
  border: 1px solid red;
} */

body {
  /* margin: 0; */
  background-color: #402E32;
  color: #f6f6f6;
}

nav {
  height: 80px;
  background-color: #FEA04D;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i {
  padding: 25px;
}

.index-list { 
  
}