/* html * {
  border: 1px solid red;
} */

body {
  background-color: #402E32;
  color: #f6f6f6;
  font-family: system-ui;
}

nav {
  height: 80px;
  background-image: linear-gradient(to right bottom, #e87817, #ee8226, #f38c34, #f99641, #fea04d);
  /* background-color: #fEA04D; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
}

#nav-el {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-text {
  color: #1a1a1a;
}

.spacer {
  height: 80px;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.homepage * {
  margin: 10px;
}

.homepage-title {
 color: #fea04d; 
 padding: 5px;
 box-shadow: 10px 5px 5px #241a1c;  
}

.homepage-els {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fea04d; 
  box-shadow: 10px 5px 5px #241a1c;  
}

.homepage-text {
  color: #fea04d; 
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  box-shadow: 10px 5px 5px #241a1c;  
}

i {
  padding: 25px;
}

.index-list { 
  color: #f6f6f6;
  display: flex;
  flex-direction: column-reverse;
}

.combo-name {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
}

.card img{
  max-height: 310px;
  max-width: 80vw;
  border: 3px solid white;
  /* border-radius: 5px; */
  background-color: white;
  
}

.profile-card{
  display: flex;
  flex-direction: row-reverse;
  max-height: 310px;
  max-width: 80vw;
}

.card-list-index {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  border-right: 10px solid #402E32;
}

.card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.combo-body * {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
  align-items: flex-end;
  margin: 2px;  
}

.combo-details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 10px;
}

.new-input {
  margin: 50px;
}

.new-input * {
  margin: 7px;
}

form input, form textarea  {
  background-color: #5F5458;
  color: #f6f6f6;
}

a {
  color: #e3e3e3;
  text-decoration: none;
}

li {
  list-style-type: none;
  margin: 10px;
  background-color: #5F5458;
  max-width: 90vw;
  padding: 10px;
  box-shadow: 5px 3px 3px rgb(37, 35, 35);
}

.left {
  margin: 10px;
  max-width: 60%;
}

.right {
  margin: 10px;
  max-width: 40%;
}

#add-card-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  box-shadow: 10px 5px 5px #241a1c;
}

#add-comment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  box-shadow: 10px 5px 5px #241a1c;
}

h3 {
  text-align: justify;
}

#new-form {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card {
  display: flex;
  flex-direction: row-reverse;
}

.removeCard {
  position: absolute;
  background-color: #00000050;
  color: #f6f6f6;
  border-radius: 50%;
}

.X{
  background-color: #00000050;
  color: #f6f6f6;
  border-radius: 50%;
}

.removeCard:hover{
  background-color: red;
}

.X:hover{
  background-color: red;
  border-radius: 50%;
}


/* CSS */
.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'DELETE COMBO';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

/* CSS */
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}